@import "./reset-styles.css";
@import "./typography.css";
@import "./layout.css";


:root {
    --padding-small: 10px;
    --padding-medium: 20px;

    --color-bg: #f0f0f0;
    --color-title: #000000;
    --color-paragraph: #444;
    
    --border-radius: 10px;

    --font-size-lg: 32px;
    --font-size-md: 24px;
    --font-size-sm: 16px;
}

